
// =========================================================== Nextflow configuration =================================================================== //

// Using Docker to get containers
docker {
    enabled = true
}


// Exporting an API KEY
env {  
    NCBI_API_KEY= 'fdf41c51b459ab4f389d6ddcab2199c87508'
}


process { 
    withName : fastqZipping{
                    container = "evolbioinfo/sratoolkit:v2.10.8"
                    cpus = 1
                    } 
    withName : genomeIndexation{
                    container = "evolbioinfo/star:v2.7.6a"
                    cpus = 8
                    }

}
